<!DOCTYPE HTML>
<html>
	<head>
		<title>TEAM DESTROYERS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--link rel="stylesheet" href="static/css/main.css" /-->
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/font-awesome.min.css') }}">
	</head>
	<body >

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section 1 patta -->
				<section class="wrapper style1">
					<div class="inner">
						<!-- 2 Columns -->
							<div class="flex flex-2">
								<div class="col col1">
									<div class="image round fit">
										<a href="generic.html" class="link"><img src="{{url_for('static', filename='images/pic01.jpg')}}" />
</a>
									</div>
								</div>
								<div class="col col2">
									<h3>Chaitanya</h3>
									<p>Hello my name is Chaitanya  </p>
									<p>I'm from Bangaore</p>
									<p>I'm persuing Btech in Computer science</p>

									<p>My short term goal is completing engineering in computer science with distinction marks</p>
									<p>I want to become data engineer</p>
									<p>I consider myself a limitless learner, love learning new tools and technologies</p>
									<p>I'm interested in foot ball,good music,dancing</p>


							</div>
					</div>
				</section>

				<!-- Section 2 navya -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>NAVYASHREE</h3>
								<p>Hello my name is Navyashree</p>
								<p>I'm from Bangalore</p>
								<p>I'm persuing Btech in Computer science</p>
								<p>My short term goal is completing engineering in computer science with distinction marks</p>
								<p>I want to become data engineer</p>
								<p>I love learning new tools and technologies that make me a better developer</p>
								<p>I'm excited about reading books,good music</p>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="generic.html" class="link"><img src="{{url_for('static', filename='images/pic02.jpg')}}" /></a>
									</div>

								</div>
							</div>
						</div>
					</section>




					<!-- Section 3 mitali -->

					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a href="generic.html" class="link"><img src="{{url_for('static', filename='images/pic03.jpg')}}" /></a>
										</div>
									</div>
									<div class="col col2">
										<h3>Mitali</h3>
										<p>Hello Everyone</p>
										<p>My name is Mitali Sahoo</p>
										<p>I'm from Puri, Odisha</p>
										<p>I'm Pursuing BTech in Computer science from Reva University, Bangalore</p>
										<p>I want to become a software developer</p>
										<p>I'm someone who thinks positively and who can execute on difficult tasks</p>
										<p>I'm excited about dancing, sketching and travelling</p>

								</div>
						</div>
					</section>





					<!-- Section 4 mona -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>monalisa</h3>
									<p>Hey my name is Monalisha. I'm from West Bengal.</p>
								</p>A B.Tech Computer Science student</p>
									</p>So, my short term goal is to complete my engineering with distinction and getting placed in a prestigious IT company by the end of it.</p>
									</p>My aim is to become a software developer. My life moto is 'Do my best everytime, so that later I don't blame myself for not trying hard enough.</p>
									</p> My interest lies in good music,singing,  travelling and exploring.</p>

								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="generic.html" class="link"><img src="{{url_for('static', filename='images/pic04.jpg')}}" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>



					<!-- Section 5 deepanshu -->

					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a href="generic.html" class="link"><img src="{{url_for('static', filename='images/pic05.jpg')}}" /></a>
										</div>
									</div>
									<div class="col col2">
										<h3>deepanshu</h3>
										Hey my name is Deepanshu..</p>
									</p> A B.Tech Computer Science student.</p>
										</p>So, my short term goal is to complete my engineering with distinction and getting placed in a prestigious IT company by the end of it.</p>
										</p>My aim is to become a software developer. My life moto is 'Do my best everytime, so that later I don't blame myself for not trying hard enough.</p>
										</p> My interest lies in good music,singing,  travelling and exploring.</p>
										<p>Contact me at 9088348399
								 </p>

								</div>
						</div>
					</section>






					<!-- Section 6 chidanand -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>chidanand</h3>
									<p>Hey, My name is Chidanand AV.
Currently I am pursuing computer science engineering.
I love to try out new things daily. Currently machine learning and Bigdata is my field of passion.
I am a big time foodie, I love travelling.
I am quite boring but surely kind of interesting!</p>
									<p></p>

								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="generic.html" class="link"><img src="{{url_for('static', filename='images/pic06.jpg')}}" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>




		<!-- Scripts -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

	</html>
